<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>es5</title>
</head>
<body>
<!--<p>es5</p>-->
<!--<p>es5学习</p>-->
<div id="someElement">
    someElement
    <p id="subElement">subElement</p>
</div>
<div class="sibling">sibling</div>
<img src="a.jpg" alt="" name="myImage">
<div id="myDiv" class="bd" title="Body test" lang="en" dir="ltr" data_my="hello!">test</div>
<div id="commentParent"><!--comment节点--></div>
<ul id="myList"></ul>
<script src="/js/index.js"></script>
</body>
</html>